@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: #000000;
  --secondary-color: crimson;
  --white-color: #FFFFFF;
  --first-blue-color: #0c2bf5;
  --second-blue-color: #49cdf2;
  --red-color: #ff0000;
}

* {
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-image: linear-gradient(to right, #301ba6, #7debff);
  font-family: 'Open sans', sans-serif;
  font-size: 2em;
  line-height: 1.5em;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

form input {
  font-size: 2.4rem;
  height: 5rem;
  padding: 0 2rem;
}

form input:focus {
  outline: 0.1rem solid var(--primary-color);
}

form label strong {
  font-size: 2.2rem;
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  height: 5rem;
  cursor: pointer;
  margin-top: 3rem;
}

form button:hover {
  background: var(--first-blue-color);
  transition: 300ms ease-in-out;
}

.white-bg {
  background: var(--white-color);
  color: var(--primary-color);
}

.container {
  max-width: 64rem;
  margin: 4rem auto;
  margin-bottom: 3rem;
  background: #fff;
  padding: 4rem;
  padding-bottom: 2.5rem;
  border-radius: 3rem;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1.5rem;
  margin-bottom: 3rem;
}

#header img {
  vertical-align: middle;
  width: 9rem;
  height: 9rem;
  margin: 0;
  margin-right: 0.5rem;
}

.title {
  text-align: center;
  font-size: 2.7rem;
  padding: 0;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.errorMessage {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--red-color);
  margin-bottom: 5px;
}

.footer p {
  color: #000;
  text-align: center;
  font-size: 2.1rem;
  margin: 0;
  padding: 1.5rem;
  font-weight: 700;
}

.footer a {
  text-decoration: underline;
  color: var(--first-blue-color);
}

.footer a:hover {
  color: var(--second-blue-color);
  transition: 300ms ease-in-out;
}

#heartEntity {
  color: var(--secondary-color);
  font-size: 2.5rem;
}

@media (max-width: 800px) {
  body {
    font-size: 1.7rem;
  }

  .container {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .footer p {
    font-size: 1.9rem;
  }

  #heartEntity {
    font-size: 2rem;
  }
}